<!-- Services -->
<div class="services-container section-container">
  <div class="container">
    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
</div>