<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
  <div class="navbar-header">
    <!-- <nav id="cbp-hrmenu" class="cbp-hrmenu" role="navigation"> -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="top-navbar-1">
    <div id="cbp-hrmenu" class="cbp-hrmenu navbar-nav" role="navigation">
      <nav>
        <li class="responsive-img">
          <a href="#"><img src="assets/images/logo.png"></a>
        </li>
      </nav>
      <div>
        <div>
          <li>
            <a href="#">LOGIN</a>
          </li>
          <li>
            <a href="#">ACOUNT</a>
          </li>
        </div>
      </div>
      <ul>
        <li>
          <a href="#">NEW ARRIVALS</a>
          <div class="cbp-hrsub">
            <div class="cbp-hrsub-inner">
              <div>
                <h4>Learning &amp; Games</h4>
                <ul>
                  <li><a href="#">Catch the Bullet</a></li>
                  <li><a href="#">Snoopydoo</a></li>
                  <li><a href="#">Fallen Angel</a></li>
                  <li><a href="#">Sui Maker</a></li>
                  <li><a href="#">Wave Master</a></li>
                  <li><a href="#">Golf Pro</a></li>
                </ul>
              </div>
              <div>
                <h4>MAN'S</h4>
                <ul>
                  <li><a href="#">Gadget Finder</a></li>
                  <li><a href="#">Green Tree Express</a></li>
                  <li><a href="#">Green Tree Pro</a></li>
                  <li><a href="#">Wobbler 3.0</a></li>
                  <li><a href="#">Coolkid</a></li>
                </ul>
              </div>
              <div>
                <h4>WOMEN'S</h4>
                <ul>
                  <li><a href="#">Learn Thai</a></li>
                  <li><a href="#">Math Genius</a></li>
                  <li><a href="#">Chemokid</a></li>
                </ul>
                <h4>KID'S</h4>
                <ul>
                  <li><a href="#">Success 1.0</a></li>
                  <li><a href="#">Moneymaker</a></li>
                </ul>
              </div>
            </div>
            <!-- /cbp-hrsub-inner -->
          </div>
          <!-- /cbp-hrsub -->
        </li>
        <li>
          <a href="#">APPAREL</a>
          <div class="cbp-hrsub">
            <div class="cbp-hrsub-inner">
              <div>
                <h4>Education &amp; Learning</h4>
                <ul>
                  <li><a href="#">Learn Thai</a></li>
                  <li><a href="#">Math Genius</a></li>
                  <li><a href="#">Chemokid</a></li>
                </ul>
                <h4>Professionals</h4>
                <ul>
                  <li><a href="#">Success 1.0</a></li>
                  <li><a href="#">Moneymaker</a></li>
                </ul>
              </div>
              <div>
                <h4>Entertainment</h4>
                <ul>
                  <li><a href="#">Gadget Finder</a></li>
                  <li><a href="#">Green Tree Express</a></li>
                  <li><a href="#">Green Tree Pro</a></li>
                  <li><a href="#">Holy Cannoli</a></li>
                  <li><a href="#">Wobbler 3.0</a></li>
                  <li><a href="#">Coolkid</a></li>
                </ul>
              </div>
              <div>
                <h4>Games</h4>
                <ul>
                  <li><a href="#">Catch the Bullet</a></li>
                  <li><a href="#">Snoopydoo</a></li>
                  <li><a href="#">Fallen Angel</a></li>
                  <li><a href="#">Sui Maker</a></li>
                  <li><a href="#">Wave Master</a></li>
                  <li><a href="#">Golf Pro</a></li>
                </ul>
              </div>
            </div>
            <!-- /cbp-hrsub-inner -->
          </div>
          <!-- /cbp-hrsub -->
        </li>
        <li>
          <a href="#">MEN'S</a>
          <div class="cbp-hrsub">
            <div class="cbp-hrsub-inner">
              <div>
                <h4>Learning &amp; Games</h4>
                <ul>
                  <li><a href="#">Catch the Bullet</a></li>
                  <li><a href="#">Snoopydoo</a></li>
                </ul>
                <h4>Utilities</h4>
                <ul>
                  <li><a href="#">Gadget Finder</a></li>
                  <li><a href="#">Green Tree Express</a></li>
                  <li><a href="#">Green Tree Pro</a></li>
                  <li><a href="#">Wobbler 3.0</a></li>
                  <li><a href="#">Coolkid</a></li>
                </ul>
              </div>
              <div>
                <h4>Education</h4>
                <ul>
                  <li><a href="#">Learn Thai</a></li>
                  <li><a href="#">Math Genius</a></li>
                  <li><a href="#">Chemokid</a></li>
                </ul>
                <h4>Professionals</h4>
                <ul>
                  <li><a href="#">Success 1.0</a></li>
                  <li><a href="#">Moneymaker</a></li>
                </ul>
              </div>
            </div>
            <!-- /cbp-hrsub-inner -->
          </div>
          <!-- /cbp-hrsub -->
        </li>
        <li>
          <a href="#">WOMEN'S</a>
          <div class="cbp-hrsub">
            <div class="cbp-hrsub-inner">
              <div>
                <h4>Learning &amp; Games</h4>
                <ul>
                  <li><a href="#">Catch the Bullet</a></li>
                  <li><a href="#">Snoopydoo</a></li>
                  <li><a href="#">Fallen Angel</a></li>
                  <li><a href="#">Sui Maker</a></li>
                  <li><a href="#">Wave Master</a></li>
                  <li><a href="#">Golf Pro</a></li>
                </ul>
                <h4>Utilities</h4>
                <ul>
                  <li><a href="#">Gadget Finder</a></li>
                  <li><a href="#">Green Tree Express</a></li>
                </ul>
              </div>
              <div>
                <h4>Entertainment</h4>
                <ul>
                  <li><a href="#">Gadget Finder</a></li>
                  <li><a href="#">Green Tree Express</a></li>
                  <li><a href="#">Green Tree Pro</a></li>
                  <li><a href="#">Holy Cannoli</a></li>
                  <li><a href="#">Wobbler 3.0</a></li>
                  <li><a href="#">Coolkid</a></li>
                </ul>
              </div>
            </div>
            <!-- /cbp-hrsub-inner -->
          </div>
          <!-- /cbp-hrsub -->
        </li>
        <li>
          <a style="color:#FF0000;" href="#">KID'S</a>
          <div class="cbp-hrsub">
            <div class="cbp-hrsub-inner">
              <div>
                <h4>Utilities</h4>
                <ul>
                  <li><a href="#">Green Tree Pro</a></li>
                  <li><a href="#">Wobbler 3.0</a></li>
                  <li><a href="#">Coolkid</a></li>
                </ul>
                <h4>Education</h4>
                <ul>
                  <li><a href="#">Learn Thai</a></li>
                  <li><a href="#">Math Genius</a></li>
                  <li><a href="#">Chemokid</a></li>
                </ul>
              </div>
              <div>
                <h4>Professionals</h4>
                <ul>
                  <li><a href="#">Success 1.0</a></li>
                  <li><a href="#">Moneymaker</a></li>
                </ul>
              </div>
              <div>
                <h4>Learning &amp; Games</h4>
                <ul>
                  <li><a href="#">Catch the Bullet</a></li>
                  <li><a href="#">Snoopydoo</a></li>
                  <li><a href="#">Fallen Angel</a></li>
                  <li><a href="#">Sui Maker</a></li>
                  <li><a href="#">Wave Master</a></li>
                  <li><a href="#">Golf Pro</a></li>
                </ul>
              </div>
            </div>
            <!-- /cbp-hrsub-inner -->
          </div>
          <!-- /cbp-hrsub -->
        </li>
        <li>
          <a href="#">APPAREL</a>
        </li>
        <li>
          <a href="#">GEAR</a>
        </li>
        <li>
          <a style="color:#FF0000;" href="#">SALE</a>
        </li>
        <li>
          <a href="#">BLOG</a>
        </li>
        <li>
          <a href="#">VIEW</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="titleheader">
    <div> FREE SHIPPING & FREE RETURNS</div>
  </div>
  <!--slider-->
  <div id="slider">
    <ul id="slider1">
      <li><a href="#slide1"><img src="../assets/images/sidebar/baner1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a>
      </li>
      <li><a href="#slide2"><img src="../assets/images/sidebar/baner2.jpg"  alt="This is caption 2"></a></li>
      <li><a href="#slide2"><img src="../assets/images/sidebar/baner3.jpg"  alt="This is caption 3"></a></li>
      <li><a href="#slide2"><img src="../assets/images/sidebar/baner4.jpg"  alt="This is caption 4"></a></li>
    </ul>
  </div>
  <!-- Top content -->
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <section id="index-new-arrival" class="section-dark">

            <header>
              <h2>NEW ARRIVALS</h2>

              <div class="nav-section-dark home">
                <ul>
                  <li><a href="#" id="home-selector-mens" class="dropdown-title" data-id="mens" data-category-id="6">MEN'S</a></li>
                  <li><a href="#" id="home-selector-womens" class="dropdown-title" data-id="womens" data-category-id="9">WOMEN'S</a></li>
                  <li><a href="#" id="home-selector-kids" class="dropdown-title" data-id="kids" data-category-id="542">KIDS'</a></li>
                  <li><a href="#" id="home-selector-apparel" class="dropdown-title" data-id="apparel" data-category-id="123">APPAREL</a></li>
                  <li><a href="#" id="home-selector-gear" class="dropdown-title" data-id="gear" data-category-id="75">GEAR</a></li>
                </ul>
              </div>
            </header>
          </section>
        </div>
      </div>

    </div>
  </div>
</div>